.sidebar::-webkit-scrollbar {
  display: none;
}
.create-new-server-button {
  width: 52px;
  height: 52px;
  background-color: var(--discord-loader-main-color);
  color: var(--website-main-white-color);
  border-radius: 50%;
  transition: 0.15s ease-in-out;
  &:hover {
    border-radius: 15px;
  }
}
.server-logo-wrapper {
  .clickable-button {
    .image-section {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      overflow: hidden;
      transition: 0.1s ease-in-out;
    }
  }

  .active-server-indicator {
    top: 50%;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s ease-in-out;
  }
  &:hover {
    .active-server-indicator {
      border-radius: 15px;
      height: 30px;
    }
    .clickable-button {
      .image-section {
        width: 52px;
        height: 52px;
        border-radius: 15px;
        overflow: hidden;
      }
    }
  }
}

.active-server {
  .clickable-button {
    .image-section {
      width: 52px;
      height: 52px;
      border-radius: 15px;
      overflow: hidden;
      transition: 0.1s ease-in-out;
    }
  }

  .active-server-indicator {
    top: 50%;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 8px;
    height: 45px;
    border-radius: 15px;
    transform: translate(-50%, -50%);
    transition: 0.1s ease-in-out;
  }
}
