.bg-black-500 {
  background-color: rgba(0, 0, 0, 0.9);
}

.text {
  font-weight: bolder;
  font-size: 17px;
  color: black;
  position: absolute;
  translate: -50% 0px;
  top: 20px;
  left: 50%;
  text-align: center;
}

.loader {
  overflow: visible;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  display: flex;
}

.logo {
  fill: none;
  stroke-dasharray: 20px;
  /*<-- Play with this number until it look cool */
  stroke: black;
  animation: load 10s infinite linear;
  stroke: var(--discord-loader-main-color);
}

@keyframes load {
  0% {
    stroke-dashoffset: 0px;
  }
  100% {
    stroke-dashoffset: 200px;
    /* <-- This number should always be 10 times the number up there*/
  }
}
.sinner-component {
  width: 30px;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
  margin: auto;
  fill: var(--website-main-white-color);
}
.sinner-component circle {
  fill: none;
  stroke: var(--website-main-white-color);
  stroke-width: 5px;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}
.drag-drop-image {
  width: 100%;
}
.drag-drop-image .drag-drop-image__uploader {
  width: 100%;
  padding: 20px;
  border: 2px dashed var(--discord-loader-main-color);
  max-width: 300px;
  margin: auto;
  border-radius: 10px;
}
.drag-drop-image .drag-drop-image__uploader p {
  color: var(--discord-loader-main-color);
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.drag-drop-image .drag-drop-image__content .relative {
  height: 100px;
  min-width: 100px;
  max-width: 100px;
}
.drag-drop-image .drag-drop-image__content .single-image-preview {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.drag-drop-image .drag-drop-image__content .single-image-preview img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.server-popup-form-container {
  width: 400px;
  max-width: 400px;
  background-color: #fff;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: #212121;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}
.server-popup-form-container button:active {
  scale: 0.95;
}
.server-popup-form-container .logo-container {
  text-align: center;
  font-weight: 600;
}
.server-popup-form-container .form {
  display: flex;
  flex-direction: column;
}
.server-popup-form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.server-popup-form-container .form-group label {
  display: block;
  margin-bottom: 5px;
}
.server-popup-form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 6px;
  font-family: inherit;
  border: 1px solid #ccc;
}
.server-popup-form-container .form-group input::-moz-placeholder {
  opacity: 0.5;
}
.server-popup-form-container .form-group input::placeholder {
  opacity: 0.5;
}
.server-popup-form-container .form-group input:focus {
  outline: none;
  border-color: #1778f2;
}
.server-popup-form-container .form-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #212121;
  border: none;
  width: 100%;
  padding: 12px 16px;
  gap: 8px;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}
.server-popup-form-container .form-submit-btn:hover {
  background-color: #313131;
}
.server-popup-form-container .link {
  color: #1778f2;
  text-decoration: none;
}
.server-popup-form-container .signup-link {
  align-self: center;
  font-weight: 500;
}
.server-popup-form-container .signup-link .link {
  font-weight: 400;
}
.server-popup-form-container .link:hover {
  text-decoration: underline;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.create-new-server-button {
  width: 52px;
  height: 52px;
  background-color: var(--discord-loader-main-color);
  color: var(--website-main-white-color);
  border-radius: 50%;
  transition: 0.15s ease-in-out;
}
.create-new-server-button:hover {
  border-radius: 15px;
}

.server-logo-wrapper .clickable-button .image-section {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}
.server-logo-wrapper .active-server-indicator {
  top: 50%;
  left: 0;
  background-color: rgb(255, 255, 255);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: 0.1s ease-in-out;
}
.server-logo-wrapper:hover .active-server-indicator {
  border-radius: 15px;
  height: 30px;
}
.server-logo-wrapper:hover .clickable-button .image-section {
  width: 52px;
  height: 52px;
  border-radius: 15px;
  overflow: hidden;
}

.active-server .clickable-button .image-section {
  width: 52px;
  height: 52px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.1s ease-in-out;
}
.active-server .active-server-indicator {
  height: 45px;
  border-radius: 15px;
  transition: 0.1s ease-in-out;
}/*# sourceMappingURL=components.css.map */