.bg-black-500 {
  background-color: rgb(0, 0, 0, 0.9);
}
// discord loader
@import "./discord-loader";
// spinner component
@import "./spinner-component";

// server popup component

@import "./server-popup";
@import "./sidebar";
@import "./line-loder";
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600");

* {
  box-sizing: border-box;
}

// color map
$COLOR: (
  prime: #3b70fc,
  dark: #3c3c3c,
  grey: #dddfe6,
  white: #f9f9f9,
);

// color function
@function color($color) {
  @return map-get($COLOR, $color);
}
